# Node.js
node_modules/
dist/
dist-test/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env*
!.env.example

# Build artifacts
mcp-tools/
*.tsbuildinfo

# OS / Editor specific
.DS_Store
.vscode/
.idea/ 