# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=****

# Get your Groq API Key here for reasoning models: https://console.groq.com/keys
GROQ_API_KEY=****

POSTGRES_USER=chatbot
POSTGRES_PASSWORD=changeme
# Local docker example: postgresql://chatbot:password@db:5432/chatbot
POSTGRES_URL=postgresql://$POSTGRES_USER:$POSTGRES_PASSWORD@db:5432/chatbot

OPENROUTER_API_KEY=****
