# Ethereum wallet mnemonic
MNEMONIC=

# Inference API keys
OPENAI_API_KEY=
OPENROUTER_API_KEY=

# The port for the MCP server
PORT=3001

# The gRPC endpoint for Ember API. For local testing, you might use localhost:50051.
EMBER_ENDPOINT=grpc.api.emberai.xyz:50051

# EVM RPC URL
RPC_URL=https://arbitrum.llamarpc.com
